#tooltip{
    /* width: 50px;
    height: 50px; */
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%,-50%);
    border: 1px solid black;
    padding: 0.5%;
    border-radius: 1rem;
    color: black;
    z-index: 1000; 
    opacity: 1;
    font-size: 1rem;
    color: white;
}


#title, #description{
    text-align: center;
}